<div class="divInterno" ng-controller="mapaSectoresController">
	 <nav>
	    <div class="nav-wrapper red">
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li ><a href="javascript:;">Principal</a></li>
	      </ul>
	    </div>
	  </nav>
	  <br>
	  <div class="">
	  	<div class="input-field col s6 ">
	  		 <select class="" ng-model="Servicio">		      
		      <option ng-repeat="servicio in Servicios" value="{{servicio.id}}">{{servicio.nombre}}</option>
		    </select>
		    <label>Escoja Un Servicio</label>
	    </div>
	    <div class="input-field col s6 ">
	  		 <select>
		      <option value="" disabled selected>Escoja un Servicio</option>
		      <option value="1">Option 1</option>
		      <option value="2">Option 2</option>
		      <option value="3">Option 3</option>
		    </select>
		    <label>Ordenar Por</label>
	    </div>
	  </div>
	<div class="map_container" id="mapa">
	</div>
	<table class="bordered">
  		<tbody>
  			<tr ng-repeat="sucursal in Sucursales">
				<td style="width: 20px;">
					<a href="">
						<img src="img/celular3.png" alt="" style="width: 30px;height: 30px;">
					</a>						
				</td>
				<td>
					<a href="" class="black-text">
						{{sucursal.nombre}}
					</a>
				</td>
  			</tr>
  		</tbody>
  	</table>
</div>
<script>
	  $(document).ready(function() {
	    $('select').material_select();
	  });
</script>